body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.navbar-logo img {
    max-height: 50px;
}

.navbar .name{
    font-size: 4rem;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
}

.center {
    position: relative;
    padding: 50px 50px;
    width: 60%;
    height: 30%;
    position: relative;
    top: 40px;
    left: 15%;
    background-blend-mode: overlay, overlay, normal;;
    background-color: #f8f9fa;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center h1 {
    font-size: 1.5em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 3px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    position: relative;
    left: -27%;
}

.center .centerbox{
    display: flex;
    justify-content: space-between;
    align-items: cetner;
    gap: 60px
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center .inputbox [type="button"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
    position: relative;
    left: 90%;
    box-sizing: border-box;
}

.center .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, rgb(47, 61, 255), dodgerblue);
}